/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    left:0;
    right:0;
    top:0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
   background: linear-gradient(135deg, #ff512f, #f09819);

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* Logo */
.logo {
    font-size: 26px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

/* Links */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 6px;
    transition: 0.3s ease;
}

/* Hover Effect */
.nav-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

/* Active link (Angular router) */
a.active {
    background: white;
    color: #4facfe;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 20px;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px;
    }
}
